<ng-container *ngIf="open()">
    <div class="fixed inset-0 z-40">
        <!-- Overlay -->
        <div class="fixed inset-0 bg-black/50 bg-opacity-50 transition-opacity" (click)="closeDrawer()"></div>
        <!-- Drawer -->
        <div class="fixed inset-y-0 right-0 w-80 bg-white shadow-xl transform transition-transform duration-300 ease-in-out"
            [ngClass]="{'translate-x-0': open, 'translate-x-full': !open}">
            <button class="absolute top-4 right-4 text-gray-500 hover:text-gray-700"
                (click)="closeDrawer()">&times;</button>
            <div class="p-6">
                <ng-content></ng-content>
            </div>
        </div>
    </div>
</ng-container>
