<div class="overflow-x-auto">
    <table class="min-w-full bg-white table-auto border-collapse border border-gray-400">
        <thead class="bg-gray-100">
            <tr>
                <th *ngFor="let header of headers()"
                    class="px-6 py-3 text-left w-3/4 text-xs font-medium text-gray-500 uppercase">
                    {{ header }}
                </th>
            </tr>
        </thead>
        <tbody class="bg-white divide-y divide-gray-200">
            <ng-container *ngTemplateOutlet="body"></ng-container>
        </tbody>
    </table>
</div>
